* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html {
    overflow-x: hidden
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff
}
main {
    margin: 0 auto;
    width: 980px;    
    position: relative;
}
.menu-principal {
    background-color: #252323;
    height: 68px       
}
.logo {
    float: left;
    padding: 10px;
    width: 30%;
}
.links ul li {
    margin-left: 20px;
    display: inline-block;
    float: left;
    list-style: none;
}
.links{
    padding: 25px;
    width: 65%;
    float: left;
}

.menu ul li a {
    padding: 10px;
    color: #8b8b8b;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}
.menu ul li a:hover{
    color: #00bac6;
}
.slick-initialized {
    overflow: hidden;
}
.imagem-fundo {
    background-image: url(../img/imagem_contato.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 350px
}
.container {
    background: #00aa9b;
    background: linear-gradient(135deg, #00aa9b 8%,#2989d8 45%,#207cca 52%,#00ba3a 100%);
    width: 100%;  
    height: 30px
}
.imagem-miolo {
    text-align: center
}

.contato {
    width: 50%;
    margin: 0 auto;
  }
  
  .form-contact {
    width: 90%;
    font-family: "Arial", Times, serif;
  }
  
  .form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
  }
  
  .form-contact-textarea {
    width: 100%;
    color: #696666;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 150px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
  }
  
  .form-contact-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: rgb(56, 180, 230);
    display: block;
    border: none;
    border-bottom: 1px solid #07501d;
    border-right: 1px solid #008b23;
    transition: 1s;
  }
  
  .form-contact-button:hover {
    opacity: 1;
  }

  .sessao {
    background: #207cca;
    border-radius: 10px;
    padding: 15px;
    width: 400px;      
    margin:0 auto 25px;
    color: rgb(228, 222, 222);
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);      
}

.rodape {    
    color: #c1c1c1;
    background-color: #252323;
    height: 60px;
    width: 100%;      
}
.direitos-reservados {
    padding: 20px;
    width: 65%;
    float: right;    
}

