* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html {
    overflow-x: hidden
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff
}
main {
    margin: 0 auto;
    width: 980px;    
    position: relative;
}
.menu-principal {
    background-color: #252323;
    height: 68px       
}
.logo {
    float: left;
    padding: 10px;
    width: 30%;
}
.links ul li {
    margin-left: 20px;
    display: inline-block;
    float: left;
    list-style: none;
}
.links{
    padding: 25px;
    width: 65%;
    float: left;
}

.menu ul li a {
    padding: 10px;
    color: #8b8b8b;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}
.menu ul li a:hover{
    color: #00bac6;
}
.slick-initialized {
    overflow: hidden;
}
.imagem-fundo {
    background-image: url(../img/imagem_home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 350px
}
.container {
    background: #00aa9b;
    background: linear-gradient(135deg, #00aa9b 8%,#2989d8 45%,#207cca 52%,#00ba3a 100%);
    width: 100%;  
    height: 30px
}
.imagem-miolo {
    text-align: center
}
.imagem-bolinhas {
    margin-top: 20px;
    max-width: 100%;
    max-height: 260px;
    min-height: 200px;
}
.texto {
    max-width: 800px;
    height: 300px; 
    margin: auto;
    margin-top: 25px;
    text-align: center;
    font-size: 18px;      
}
.botao {
    font-weight: bold;
    margin-top: 35px;
}
.bt {     
    text-decoration:none;   
    font-size: 15px;
    color:white;
    padding: 10px 20px;
    background: linear-gradient(#0083ab, #00ba3b);
    border-radius: 10px;
    border: 1px solid;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.rodape {
    color: #c1c1c1;
    background-color: #252323;
    height: 60px;  
}
.direitos-reservados {
    padding: 20px;
    float: right;
    width: 66%;
}