* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html {
    overflow-x: hidden
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff
}
main {
    margin: 0 auto;
    width: 980px;    
    position: relative;
}
.menu-principal {
    background-color: #252323;
    height: 68px       
}
.logo {
    float: left;
    padding: 10px;
    width: 30%;
}
.links ul li {
    margin-left: 20px;
    display: inline-block;
    float: left;
    list-style: none;
}
.links{
    padding: 20px;
    width: 60%;
    float: left;    
}
.menu ul li a {
    padding: 10px;
    color: #8b8b8b;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}
.menu ul li a:hover{
    color: #00bac6;
}
.slick-initialized {
    overflow: hidden;
}
.imagem-fundo {
    background-image: url(../img/sobre/imagem_sobre.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 350px
}
.container {
    background: #00aa9b;
    background: linear-gradient(135deg, #00aa9b 8%,#2989d8 45%,#207cca 52%,#00ba3a 100%);
    width: 100%;  
    height: 30px
}

.texto {   
    text-align: left;    
    width: 90%;
    height: 350px; 
    font-size: 16px;       
    left: 5%; 
    position: relative; 
    font-family: "Open Sans", sans-serif;   
    line-height: 1.5;                 
}

.imagemProjeto {         
    float: left;   
    border-radius: 5px;
    border:2px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.39);    
}

.conteudo {
    padding: 100px;
    display: table;   
    margin: 1px 5px 5px 300px; 
}

.texto ul li {
    text-align: left;
    width: 27.3%;
    height: 10%;
    margin: 0.5%;
    float: left;
    overflow: hidden;
  }
  
  .texto ul li:nth-child(odd) {
    float:left;
  }

.botao {
    font-weight: bold; 
    margin-left: 55%;
}
.bt {         
    text-decoration:none;   
    font-size: 15px;
    color: #8b8b8b;
    padding: 10px 20px; 
    border: 2px solid;    
}

.rodape {
    color: #c1c1c1;
    background-color: #252323;
    height: 60px;  
}
.direitos-reservados {
    padding: 20px;
    float: right;
    width: 66%;
}
