body, html {
    font-family: 'Open Sans', sans-serif;
    
    width: 100%;
    height: 100%;
    margin: 0 auto;   
    }
.menu-principal {
    background-color: #252323;
    height: 68px;
    width: 100%;        
   }
main {
    margin: 0 auto;
    width: 980px;    
    position: relative;
}
.logo {
    float: left;
    padding: 10px;
    width: 30%;
}
.links ul li {
    margin-left: 20px;
    display: inline-block;
    float: left;
    list-style: none;
}
.links{
    padding: 10px;
    width: 65%;
    float: left;
}
.menu ul li a {
    padding: 10px;
    color: #8b8b8b;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}
.menu ul li a:hover{
    color: #00bac6;
}
.slick-initialized {
    overflow: hidden;
}
.imagem-fundo {
    background-image: url(/img/sobre/imagem_sobre.jpg);
    width: 100%;  
    height: 400px;    
}
.container {    
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00aa9b+8,2989d8+45,207cca+52,00ba3a+100 */
background: #00aa9b; /* Old browsers */
background: -moz-linear-gradient(-45deg, #00aa9b 8%, #2989d8 45%, #207cca 52%, #00ba3a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #00aa9b 8%,#2989d8 45%,#207cca 52%,#00ba3a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #00aa9b 8%,#2989d8 45%,#207cca 52%,#00ba3a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aa9b', endColorstr='#00ba3a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    display: block;
    width: 100%;  
    height: 30px;
}

.texto {
    text-align: center;    
    width: 900px;
    height: 200px; 
    font-size: 18px;     
    left: 5%; 
    position: relative;     
}
.texto-imagem {
    text-align: center;
    font-size: 17px;  
    width: 990px;  
    height: 400px;     
}

.col3 {
    padding-left: 27px;
    padding-right: 25px;
    width: 28%;   
    float: left;
    position: relative;   
    border-radius:10px;
    box-shadow: 3px 3px 3px 3px #8b8b8b;   
}

.direitos-reservados {    
    background-color: #252323;
    height: 50px;
    width: 100%;
    float: right;        
}
.direitos-reservados p {   
    text-align: center;
    color: azure;
}
