* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
html {
    overflow-x: hidden
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff
}
main {
    margin: 0 auto;
    width: 980px;    
    position: relative;
}
.menu-principal {
    background-color: #252323;
    height: 68px       
}
.logo {
    float: left;
    padding: 10px;
    width: 30%;
}
.links ul li {
    margin-left: 20px;
    display: inline-block;
    float: left;
    list-style: none;
}
.links{
    padding: 25px;
    width: 65%;
    float: left;
}
.menu ul li a {
    padding: 10px;
    color: #8b8b8b;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}
.menu ul li a:hover{
    color: #00bac6;
}
.slick-initialized {
    overflow: hidden;
}
.imagem-fundo {
    background-image: url(../img/sobre/imagem_sobre.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 350px
}
.container {
    background: #00aa9b;
    background: linear-gradient(135deg, #00aa9b 8%,#2989d8 45%,#207cca 52%,#00ba3a 100%);
    width: 100%;  
    height: 30px
}
.imagem-miolo {
    text-align: center
}

.texto {
    text-align: center;    
    width: 900px;
    height: 250px; 
    font-size: 18px;
    top: 30px;     
    left: 5%; 
    position: relative;             
}
.texto-imagem {
    text-align: center;
    font-size: 17px;  
    width: 120%;  
    height: 420px; 
}

.col {
    padding: 20px;    
    width: 28%;   
    float: left;
    position: relative;   
    border:solid 1px;
    border-radius:10px;     
}

.rodape {
    color: #c1c1c1;
    background-color: #252323;
    height: 60px;  
}
.direitos-reservados {
    padding: 20px;
    float: right;
    width: 66%;
}
